.navbar{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #333;
    float: left;
}
.navbarButton{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    border: none;
    background-color: none;
    transition: 0.3s;
}
.navbarButton:hover{
    background-color: red;
}
